.App {  
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.logoImg:hover{
  cursor: pointer;
}

.Appheader {
  width: 100%;
  height: 40px;
  display: flex;    
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #c92622;
  z-index: 3000;
}

.Appbody {
  display: flex;
  height: 100%;
}

.App-navButtons {  
  height: 100%;
  max-width: 350px;
  flex-basis: 100%;
  padding: 50px 20px 0;
  background: #fff;
  box-shadow: 0 0 15px #e4e4e4;
  z-index: 2000;
  overflow: auto;
  min-width: 280px;
  position: relative;
  flex-direction: column;
}

.App-navButtons-menu{
  height: 20px;
  width: 25px;
  padding: 10px 20px;
}

.App-navButtons-menu:hover {
  cursor: pointer;
}

.bar {
  display: block;
  border-bottom: 4px solid #ccc;
  margin-bottom: 4px;
  border-radius: 10px;
}

.App-navButtons-close{
  text-align: right; 
  position: absolute;
  top: 20px;
  right: 20px;
}

.App-navButtons-close-btn{
  padding: 0 10px;
  font-weight: 500;
  font-size: 30px;
  color: rgb(78, 78, 78)
}

.App-navButtons-close-btn:hover{
  cursor: pointer;
}

.App-navButtons-btns{
  display: flex;
  flex-direction: column;
}

.App-navButtons-button{
  font-size: calc(10px + 1vmin);
  margin-bottom: 20px;
  padding-left: 10px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-navButtons-button-gr{
  font-size: calc(10px + 1vmin);
  margin-bottom: 20px;
  padding-left: 40px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-navButtons-span{
  border-left: 2px solid #fff;
  padding-left: 10px;
}

.App-navButtons-span-active{
  border-left: 2px solid #c92622;
  padding-left: 10px;
}

.App-navButtons-span-gr{
  border-left: 2px solid #fff;
  padding-left: 10px;
}

.App-navButtons-span-active-gr{
  border-left: 2px solid #c92622;
  padding-left: 10px;
}

.App-navButtons-button:hover .App-navButtons-span{
  border-left: 2px solid #c92622;
  padding-left: 10px;
}

.App-navButtons-button:hover {  
  cursor: pointer;
}

.App-navButtons-button-gr:hover .App-navButtons-span-gr{
  border-left: 2px solid #c92622;
  padding-left: 10px;
}

.App-navButtons-button-gr:hover{
  cursor: pointer;
}

.App-result{  
  justify-content: center;  
  text-align: center;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}

.App-result-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.App-result-content__video {
  max-width: 100%;
}

.App-result-content__content {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
  align-items: center;
}

.Triangle-active{
  width: 0px;
  border: 10px solid transparent;   
  border-bottom: 10px solid #c92622;
}

.Triangle-passive{
  width: 0px;
  border: 10px solid transparent;
  border-top: 10px solid #c92622;
  transform: translate(0, 50%);
}

.alink{
  text-align: left;
  padding-left: 20px;
  width: 100%;
}

.ListItem{
  text-align: left;
}

.react-viewer-mask {
  background-color: #fff !important;
}

.App-line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 25px 0;
}

.App-text{
  font-size: calc(10px + 1vmin);
  margin-bottom: 20px;
  padding-left: 10px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}